<!DOCTYPE html>
<html>

<head>
<title>Loans</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">

<a href="/dashboard">Dashboard</a>
<a href="/addloan">Add Loan</a>
<a href="/transactions">Transactions</a>
<a href="/users">Users</a>

</div>


<div class="container">

<h2>🕷️ Loan Records</h2>

<table>

<tr>
<th>ID</th>
<th>User</th>
<th>Amount</th>
<th>Interest</th>
<th>Duration</th>
</tr>

{% for loan in data %}

<tr>

<td>{{ loan[0] }}</td>
<td>{{ loan[1] }}</td>
<td>{{ loan[2] }}</td>
<td>{{ loan[3] }}</td>
<td>{{ loan[4] }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>
</html>